html, body{
	height: 100%;
}
body{
	display: flex;
	flex-direction:  column;
	background-color: #fff;
	margin: 0;
	font-family: Lato, sans-serif;
	color: #222;
	font-size: 0.9em;
}
main{
	flex: 1 0 auto;
	display: flex;
}
footer{
	flex: 0 0 90px;
	padding: 10px;
	color: #fff;
	background-color: rgba(61,100,158,.9);
}
aside{
	flex: 0 0 40px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	background-color: #f2f2f2;
}

aside i.fa{
	font-size: 0.9em;
}